/* *{
  background-color: #353d4b;
  color: #f7f7f2ff;
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: brandFont;
  src: url(./static/fonts/paladins.ttf);
}
@font-face {
  font-family: brandFontstraight;
  src: url(./static/fonts/paladinsstraight.ttf);
}

.main-app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-color: #000e1aff;
  color: #f7f7f2ff;
  height: 100%;
}


/* --------------------------------Global Effects---------------------------- */
.grow{
  transition: .3s ease-in;
}
.grow:hover{
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
}


/* --------------------------------NAVBAR---------------------------- */
.nav-div{
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar{
  background-color: rgb(12, 12, 12);
  color: white;
  position: sticky;
  top: 0;
}
.nav-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-link{
  font-weight: bold;
  color: #f7f7f2ff;
}
.navbar-brand{
  font-family: brandFont;
}
.collapse{
  justify-content: flex-end;
}
.navbar-collapse{
  justify-content: flex-end;
}
.fancy-link{
  text-decoration: none;
  position: relative;
}
.fancy-link::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}
.fancy-link:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}


/*-------------------------------Home Page-----------------------------*/
.home-header{
  display: flex;
  flex-direction: column;  
  font-weight: bold;
  margin: 1.5% 0;
  padding-left: 5%;
  /* background-color: rgba(0, 0, 0, 0.8);
  background: linear-gradient(180deg, rgba(255,255,255, .1), rgba(255,255,255, 0));
  border-radius: 20px; */
}
.home-trending-container{
  min-height: 100vh;
}
.home-trending-carousel{
  padding: 2.5% 17%;
  /* background-color:rgba(255, 255, 255, 0.01); */
}
.carousel{
  border-radius: 20px;
  box-shadow: 0 0 50px 0 rgba(255, 255, 255, .5);
}
.slide{
  border-radius: 20px;
}
.carousel-item{
  border-radius: 20px;
}
.carousel-caption{
  background-color:rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  padding: 1%;
}
.secondary-row{
  margin: 2% 0;
  margin-bottom: 5%;
}
.home-secondary-header{
  display: flex;
  flex-direction: column;  
  font-weight: bold;
  margin-top: 3%;
  margin-bottom: 1%;
  padding-left: 4%;
  /* background-color: rgba(0, 0, 0, 0.8); */
  /* background: linear-gradient(180deg, rgba(255,255,255, .1), rgba(255,255,255, 0)); */
  border-radius: 20px;
}
.classics-card-container{
  background-color:rgba(255, 255, 255, 0.05);
  width: 100vw;
  height: 100%;
  padding: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.classics-card{
  background-color:rgba(0, 0, 0, 0.6);
  width: 15%;
  height: 100%;
  border-radius: 5px;
  margin: 1%;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px 5px rgba(5, 5, 5, 10);
}
.d-block{
  border-radius: 5px;
}


/* -----------------------Sign In-------------------- */
.main-signin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('./static/netflix-800x450.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  isolation: isolate;
}
.main-signin::after{
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.5);
}

.signin-card{
  background: linear-gradient(135deg, rgba(255,255,255, .1), rgba(255,255,255, 0));
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 30);
  border-radius: 20px;
  padding: 10%;
  color: #f7f7f2ff;
}



/*----------------------------Avatar---------------------*/
.avatar-icon{
  border: solid white;
  margin: 0;
  padding: 0;
}

.profile-card{
  width: 300px;
  height: 480px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 1px 10px 1px black
}
.profile-upper-container{
  height: 100px;
  background: linear-gradient(to left, blue, green);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.profile-img-container{
  background: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 5px;
  transform: translate(95px, 45px);
}
.profile-lower-container{
  color: black;
}

.searched-card-container{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
  width: auto;
}


/*------------------------Watch List----------------*/
.watchlist-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #000e1aff;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5%;
}
.watchlist-header{
  background-color: rgba(27, 27, 27, 0.8);
  background: linear-gradient(135deg, rgba(255,255,255, .1), rgba(255,255,255, 0));
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 1);
  border-radius: 20px;
  padding: 10%;
  margin: 5%;
  color: #f7f7f2ff;
  width: 60%;
}
.watchlist-card{
  background: linear-gradient(135deg, rgba(255,255,255, .2), rgba(255,255,255, 0));
  /* border: 2px solid rgba(150, 150, 150, 0.5); */
}


/*----------------------Search Movie----------------------*/
.explore-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #000e1aff;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5%;
}
.explore-header{
  background-color: rgba(27, 27, 27, 0.8);
  background: linear-gradient(135deg, rgba(255,255,255, .1), rgba(255,255,255, 0));
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 1);
  border-radius: 20px;
  padding: 2%;
  margin: 5%;
  color: #f7f7f2ff;
  /* border: 3px solid rgba(177, 177, 177, 0.5); */
}
.movie-card{
  background: linear-gradient(135deg, rgba(255,255,255, .2), rgba(255,255,255, 0));
  backdrop-filter: blur(10px);
  /* border: 1px solid rgba(150, 150, 150, 0.5); */
}
.explore-actions{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/* -------------------------------- Modal ---------------------------- */
.modal{
  background: linear-gradient(135deg, rgba(255,255,255, .2), rgba(255,255,255, 0));
  backdrop-filter: blur(10px);
  /* border: 1px solid rgba(150, 150, 150, 0.5); */
}



/* GLASS EFFECT */
.glass{
  background: linear-gradient(135deg, rgba(255,255,255, .1), rgba(255,255,255, 0));
  backdrop-filter: blur(10px);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255, .18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

/*-------------------------Footer-----------------------------*/
footer{
  /* background-color: #000e1aff; */
  background-color: rgb(12, 12, 12);
  color: #0064b2ff;
}
